/* inherit box sizing */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    height: 1200px;
}


header, nav {
    max-width: inherit;

}

form {
    
}

main {
    max-width: inherit;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

article {
    width: 300px;
    margin-top: 20px;
}

article h1 {
    font-size: 16px;
    
}

figure {
    height: 300px;
    width: 95%;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    height: 200px;
}

aside {
    /* change height with media query */
    height: 30%;
    background-color: magenta;
    
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (min-width: 60em) {
    
    aside {
        height: 15%;   
    }
}

.aside-container {
    max-width: 1000px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.aside-text {
    height: 60%;
    max-width: 600px;
    /*margin: 0 auto;*/
    
    display: flex;
    justify-content: center;
}

.aside-text h1 {
    font-size: 16px;
    color: yellow;
}

.aside-text p {
    font-size: 12px;
    color: white;
}

.aside-buttons {
    /* change button width with media query */
    margin: 0 10px;
    display: flex;
    justify-content: center;
}




.highlight {
    border: yellow solid 2px;
}