/* inherit box sizing */
html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: darkslategray;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e4f5fc+0,9fd8ef+75,bfe8f9+81,2ab0ed+100 */
    background: rgb(228,245,252);

    /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(228,245,252,1) 0%, rgba(159,216,239,1) 75%, rgba(191,232,249,1) 81%, rgba(42,176,237,1) 100%);

    /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(228,245,252,1) 0%,rgba(159,216,239,1) 75%,rgba(191,232,249,1) 81%,rgba(42,176,237,1) 100%);

    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(228,245,252,1) 0%,rgba(159,216,239,1) 75%,rgba(191,232,249,1) 81%,rgba(42,176,237,1) 100%);

    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=0 );

    /* IE6-9 */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1,
#graph-title {
    font-family: 'Raleway', sans-serif;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map-container {
    height: 270px;
}

@media (min-width: 800px) {
    #map-container {
        height: 420px;
    }
}

#graph-container {
    height: 300px;
    width: 100%;
}

#map {
    height: 100%;
}

.line {
    stroke-width: 2;
    fill: none;
}

.area {
    fill-opacity: 0.7;
}

.axis line {
    stroke: DarkSlateGray;
}

.axis path {
    stroke: DarkSlateGray;
}

.axis text {
    fill: DarkSlateGray;
}

.axis-label {
    fill: Teal;
}

.grid line {
    stroke: darkgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
    stroke-dasharray: 3, 3;
}

.grid path {
    stroke-width: 0;
}

.description-title {
    font-size: 32px;
    color: midnightblue;
}

.footer-text {
    font-size: 16px;
    color: dodgerblue;
}