/* inherit box sizing */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}



/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#map-container {
    height: 270px;
}

@media (min-width: 800px) {
    #map-container {
        height: 420px;
    }
}

#graph-container {
    height: 300px;
    width: 100%;
}

#map {
    height: 100%;
}

.line {
    stroke-width: 2;
    fill: none;
}

.area {
    fill-opacity: 0.7;
}

.axis line {
    stroke: DarkSlateGray;
}

.axis path {
    stroke: DarkSlateGray;
}

.axis text {
    fill: DarkSlateGray;
}

.axis-label {
    fill: Teal;
}

.grid line {
    stroke: darkgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
    stroke-dasharray: 3, 3;
}

.grid path {
    stroke-width: 0;
}

#graph-container {}