/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#map-container {
    width: 600px;
    height: 500px;
}

#map {
    height: 100%;
}


/* Optional: Makes the sample page fill the window. */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.line { 
    stroke-width: 2;
    fill: none;
}

.area {
    fill-opacity: 0.7;
}
